
$gray-900: #181825;
$gray-800: #1e1e2e;
$black: #11111b;
$gray-700: #313244;
$gray-600: #45475a;
$gray-500: #585b70;
$gray-400: #6c7086;
$gray-300: #7f849c;
$gray-200: #9399b2;
$gray-100: #a6adc8;
$white: #cdd6f4;
$indigo: #b4befe;
$purple: #cba6f7;
$pink: #f5c2e7;
$red: #f38ba8;
$orange: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$cyan: #89dceb;
$blue: #89b4fa;
$primary: $purple;
$body-color: $white;
$body-bg: $black;
$link-decoration: underline;
$link-hover-decoration: none;
$table-color: $black;
$table-bg: $white;
$nav-pills-link-active-color: $black;
$component-active-color: $black;
$nav-tabs-link-active-color: $white;
$pagination-color: $white;
$pagination-bg: $black;
$card-bg: $black;
$modal-content-bg: $black;
$modal-backdrop-bg: $gray-100;
$close-color: $red;
$breadcrumb-bg: $gray-900;
$list-group-bg: $gray-900;
$list-group-color: $white;
$list-group-hover-bg: $gray-400;
$navbar-light-brand-color: $black;
$navbar-dark-brand-color: $black;
$navbar-dark-brand-hover-color: $black;
$navbar-light-brand-hover-color: $black;
$navbar-dark-color: $black;
$navbar-dark-hover-color: $gray-700;
$navbar-dark-active-color: $black;
$enable-shadows: true;
$enable-gradients: true;
$enable-hover-media-query: true;
$font-family-sans-serif: 'MS Gothic', 'MS PGothic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";